html {
   scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #e9eaeb;
}

.bodyProject{
    background-color: #2B303A;
}

header{
    height: 100vh;
    background-color: #2B303A;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

#AboutMe p{
    color: #2B303A;
}

.q{
    color: #832232;
    font-weight: bold;
}

.centerSquareHeader{
    background-image: url(image/BgBlur.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 60%;
    left: 10%;
    right: 10%;
    border: 3px solid white;
    height: 60%;
}

h1{
    color: #F6F930;
    padding-top: 10%;
    font-weight: 800;
    margin-top: 0;
    font-size: 500%;
    margin-left: 20px;
}

.aboutTitle{
    color: #832232;
}

h2{
     color: white;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;

}

#AboutMe img{
     border: 5px solid #F6F930;
     transform: rotate(-5deg); 
}

.presentationtitle{
    margin-top: 10%;
    color:#832232;
    font-weight: 900;
    text-align: center;
    font-size: 150%;
}

#AboutMe{
    padding-top: 15%;
    background-color: #e9eaeb;
   
}


.skills{
   
    margin-top: 100px;
    clear: both;
    color: #2B303A;
}

.skills p{
   -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2B303A;
    text-align: center;
    color: #F6F930 !important;
    margin-top: 100px;
    font-size: 200%;
}

.skilllist{
    clear: both;
    list-style-type: none;  
}

.skilllist li{
    border-radius: 50%;
    width: auto;
    display: inline-block;
    margin: 5px;
}

.small{
    padding: 10px;
}


.middle{
    padding: 23px;
}


.red{
    border: 2px solid #832232;
    color: #832232;
    animation:colorChange1 5s;
    -moz-animation:colorChange1 5s infinite; /* Firefox */
    -webkit-animation:colorChange1 5s infinite; /* Safari and Chrome */
}

.dark{
    border: 2px solid #2B303A;
    color: #2B303A;
    animation:colorChange2 5s;
    -moz-animation:colorChange2 5s infinite; /* Firefox */
    -webkit-animation:colorChange2 5s infinite; /* Safari and Chrome */
}


@-moz-keyframes colorChange1 /* Firefox */ {
    0% {border: 2px solid #832232; color: #832232; }
    50% {border: 2px solid #2B303A; color: #2B303A;}
    100% {border: 2px solid #832232; color: #832232;}
}

@-webkit-keyframes colorChange1 /* Safari and Chrome */ {
     0% {border: 2px solid #832232; color: #832232;}
    50% {border: 2px solid #2B303A; color: #2B303A;}
    100% {border: 2px solid #832232; color: #832232;}
}

@-moz-keyframes colorChange2 /* Firefox */ {
    0% {border: 2px solid #2B303A; color: #2B303A;}
    50% {border: 2px solid #832232; color: #832232;}
    100% {border: 2px solid #2B303A; color: #2B303A;}
}

@-webkit-keyframes colorChange2 /* Safari and Chrome */ {
     0% {border: 2px solid #2B303A; color: #2B303A;}
    50% {border: 2px solid #832232; color: #832232;}
    100% {border: 2px solid #2B303A; color: #2B303A;}
}

.big{
    padding: 35px;
}




#Projects{
     background-color: #2B303A;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    width:100%;
    position: relative;
    padding-top: 5px;
    display: block;
    overflow: auto;
    padding-bottom:70px;
}

#Projects h2{
    color: black;
    font-size: 160%;
    font-size: 900;
}

.wrapperCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

.card{
    background-color: white;
    border-radius: 8px;
    width: 370px;
    display: inline-block;
    box-shadow:  0 1px 5px black;
    padding: 10px;
    margin: 20px;
}

.card:hover{
    box-shadow:  0 1px 20px black;
}



.card > img{
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card > p{
    margin-bottom: 20px;
    font-size: 15px;
}


.card > a{
    background-color: #832232;;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 8px;
    box-shadow:  0 1px 5px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in;
    -moz-transition:all .2s ease-in;
    -o-transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
}

.tools{
    color:#832232;
    font-weight: 1000;
    word-spacing: 3px;
    font-size: 17px !important;
}

.card > a:hover{
     background:#681b28;
     box-shadow:  0 1px 5px rgba(0, 0, 0, 0.8);
}

#Contact{
   background-color:white;
    top:0;
    padding-bottom: 170px;
}

#Contact h1{
    color:#832232;
    text-align: center;
}


#Contact a:link{
    text-decoration: none;
    color: black;
}


#Contact img{
    width: 150px;
}


footer{
   background-color:  #2B303A;
}

footer p{
    margin: 0;
    padding: 10px;
    color: white;
}

@media only screen
    and (max-width : 480px){
        .centerSquareHeader{
            display: none;
        }
       
       #Projects h1{
          padding-top: 200px;
       }
        
        header{
            height: auto;
            padding-bottom: 20px;
        }
        
        #AboutMe img{
            width: 60%;
            height: auto;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        
         h1{
            font-size: 300%;
        }
        header h{
            font-size: 300%;
        }
        
        #Projects{
            padding-top: 40%;
        }
        
        #Contact img{
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        
        figcaption{
            text-align: center;
        }
        
        footer p{
            padding-bottom: 50px;
        }
}


@media only screen
    and (max-width : 959px){
        #AboutMe img{
            width: 40%;
            height: auto;
             display: block;
            margin-right: auto;
            margin-left: auto;
        }
        
        #AboutMe{
            padding-top: 25%;
        }

  .topnav a.icon {
            float: right;
            display: block;
            text-decoration: none;
            color: white;
            margin-right: 20px;
            margin-top: 0;
        }
        
        .aboutTitle{
            display: none;
        }
        
        .topnav.responsive {position: relative;}
          .topnav.responsive .icon {
            position: absolute;
            float: right;
            top: 0;
            right: 0;
          }
        
          .topnav.responsive li {
            float: none;
            display: block;
            text-align: right;
              font-size: 150%;
              margin: 15px;
              color: white; 
              margin-top: 0;
          }
        
        .topnav.responsive li:first-of-type {
            padding-top: 40px;
          }
        
          .topnav.responsive{float: none;}
          .topnav.responsive {position: relative;}
          .topnav.responsive {
            display: block;
            width: 100%;
           
          }
        .listnav{
            display: none;
        }
        
        nav {
            margin-top: 0;
        }
        
        nav ul{
            margin: 0;
        }
        
     
        
        .aboutLine{
            margin-left: 20px;
            width: 50px;
        
        }

        .titleAbout{
            font-size: 200%;
            color: white;
    
        }
        
        .textAbout{
            display: block;
            margin: auto;
            margin: 5%;
            font-size: 100%;
            line-height: 25px;
            color: white;
        }
         .logo {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 30px; 
                }

                #imageContact{
                    text-align:center;
                }
        
                .icon {
                  display: none;
                }

}

@media screen and (min-width: 480px) and (max-width: 845px){
    #Projects h1{
        padding-top: 300px;
    }
}


@media only screen
    and (min-width : 960px){

                 name{
                    font-weight: bold;
                    font-size: 200%;
                }
        
                  .aboutTitle{             
                    position: fixed;
                    transform: rotate(270deg);
                    top: 50%;
                    padding: 0;
                    left: -180px;
                    z-index: -1;
                }


                .aboutLine{
                    margin-left: 0;
                    width: 50px;
                }

                .titleAbout{
                    font-size: 200%;
                   color: white;
                }

                #AboutMe img{
                    width: 33%;
                    height: auto;
                    margin-top: 50px;
                    margin-right: 60px;
                    margin-bottom: 30px;
                    float: left;
                   
                }
        
                #AboutMe{
                    padding-left: 20%;
                     z-index: -2;
                    position: relative;
                    padding-bottom: 100px;
                }


                .textAbout{
                    margin-top: 50px;
                    font-size: 100%;
                    line-height: 25px;
                    margin-right: 15%;
                    color: white;
                }

               
        
                .logo {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 30px; 
                }

                #imageContact{
                    text-align:center;
                }
        
                .icon {
                  display: none;
                }
        
                nav{
                    width: 100%;
                    height: 10%;
                    display: block;
                    margin: auto;
                    position: fixed;
                    z-index: 1;
                   background-color: #2B303A;
                }

                nav ul{
                    margin: 0;
                    text-align: right; 

                }

                nav li{
                    display: inline-block;
                   padding: 40px;
                   padding-top: 30px;
                }

                nav a{
                    color: #ffff;
                    font-size: 20px;
                    position: relative
                }


                nav a::after {
                    content: '';
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 5px;
                    width: 0;
                    height: 2px;
                    background: #F6F930;
                    transition: width .5s;
                }

                nav a:hover::after {
                    width: 100%;
                    transition: width .5s;
                }

                nav a:hover {
                    color: #F6F930;
                }


}

* {box-sizing: border-box}
.mySlides {display: none}
.imgproject1 {vertical-align: middle;
        width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    top:140px;
  
}

.buttonBack{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 50px;
    border: solid 1px #832232;;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
}

.buttonBack:hover{
    background-color: #832232;
     transition: 0.9s ease;
}

.buttonBack:link{
    color:#832232;
    text-decoration: none;
}

/* visited link */
.buttonBack:visited {
  color: #832232;;
}

/* mouse over link */
.buttonBack:hover {
  color: #2B303A;
}

/* selected link */
.buttonBack:active {
  color: black;
}


.full-container{
      padding-bottom: 200px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

/* Caption text */
.caption {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 80%;
  text-align: center;
  background-color: #2B303A;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -4px;
        left: 90px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
        top: 140px;
    position: relative;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

